.input {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #380470;
    padding: 10px 7px;
    color: #1c1c1c;
    font-weight: bold;
    background-color: #9E69D6;
    
  }

  .inputSmall {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px;

    padding: 5px 3px;
    font-size: 14px;
    border: 2px solid #62dafb;
    background-color: transparent;
    color: #62dafb;
  }

  .input:hover {
    cursor: pointer;
  }

  .input:active {
    outline: none;
  }
  
  .input:focus {
    outline: none;
}

.inputSmall:active {
  outline: none;
}

.inputSmall:focus {
  outline: none;
}