.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #380470;
    background-color: #9E69D6;
    padding: 10px 20px;
    height: 30px;
    color: #1c1c1c;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 380ms;
  }


  .button:hover {
    cursor: pointer;
    box-shadow: -2px 0px 19px #5A0DAC;
  }

  .button:active {
    outline: none;
    opacity: 0.5;
    box-shadow: -2px 0px 19px #5A0DAC;
  }
  
  .button:focus {
    outline: none;
}

.buttonText {
  display: block;
  width: auto;
  height: fit-content;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  font-size: 16px;
  color: #1c1c1c;
  font-weight: bold;
  cursor: pointer;
  transition: text-shadow 380ms;
}

.buttonText:hover {
  text-shadow: -2px 0px 19px #5A0DAC;
}

.buttonText:active {
  color: #62dafb;
  opacity: 0.5;
  text-shadow: -2px 0px 19px #5A0DAC;
}