.content {
    grid-area: content;
    padding: 10px 15px;
    background-color: #9D69D6;
    /* background-image: url(https://svgsilh.com/svg/28615.svg); */
    background-size: 185px 185px;
    background-repeat: no-repeat;
    background-position: center;
  }
  