.collocutors {}

.item {
  display: flex;
  align-items: center;
  margin: 0 0 17px;
}

.item a {
  color: #1c1c1c;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
}

.item .activeLink {
  color: #62dafb;
}

.icon {
  width: 35px;
  height: 35px;
  margin: 0 10px 0 0;
  border-radius: 50%;
  border: 3px solid transparent;
}

.iconActive {
  border: 3px solid #62dafb;
  /* width: 33px;
  height: 33px; */
}